.amr-option-group {
    margin-top: 32px;
    padding: 24px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #f5f5f5;
}
  
.amr-label {
    margin-top: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.2s ease;
}
.amr-radiomenu input[type="radio"] {
    display: none;
}

.amr-checkmark {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: #dedede;
    color: #dedede;
    margin-right: 12px;
    font-size: 24px;
    transition: 0.2s ease;
}
  
.amr-option-holder input:checked + .amr-label .amr-checkmark {
    background: #006064;
}

.amr-option-holder input:checked + .amr-label {
    background-color: #00838F;
}

.amr-label:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input:checked + .amr-label {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #fff;
}