body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  
    margin: 0;
    -webkit-overflow-scrolling: touch;   
    overflow-y: scroll;
}

.container {
    padding-top: 40px;
}

.blog-sidebar {
    display: inline;
}

.widget_text {
    padding: 0!important;
    margin-bottom: 25px;
    display: block;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    margin-bottom: 1.25rem;
    color: #1a1e1c;
    text-decoration: none;
}

.widget_text  a {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: #1a1e1c;
}


.alert-danger-questionnaire {
    display: none;
}


.allume_repas_extra, .temps_ecran_extra , .television_famille_extra, .regle_ecran_extra{
    display: none;
}


.enonce_question {
    font-size: larger;
    padding: 34px 15px;
    font-weight: bold;
    margin-bottom: 0;
}

.amr-radiomenu {
    margin-bottom: 25px;
}


.paragraphe_description {
    font-weight: 600;
    font-size: 1.25rem;
    color: #cf2e2e;
}

.bs-stepper .line, .bs-stepper-line {
    flex: 1 0 15px!important;
}

.rouge-bordeau {
    color: #cf2e2e;
}

.current_page_item a ,
.current-menu-ancestor a{
    color: rgb(5,160,249)!important;
}



@media print {
    body, html, #wrapper, img {
        width: 100%;
    }
}