
/*
 * 1. core styles
 */

 .teamy{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.teamy__layout{
    position: relative;
}

.teamy__preview{
    position: relative;
    overflow: hidden;
}

.teamy__avatar{
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.teamy__preview:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.teamy__back{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    opacity: 0;
    will-change: opacity;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.teamy:hover .teamy__back{
  opacity: 1;
  height: 100%;
  transition: opacity .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s;
}

.teamy__name{
    margin-top: 0;
    margin-bottom: 0;
}

.teamy__post{
    display: block;
}


 .teamy__back{
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
 }

.teamy__content{
     padding: 20px;
}

.teamy__name{
    font-size: 1.3em;
}

.teamy__post{
    margin-top: .5em;
    font-size: .8em;
    text-transform: uppercase;
    color: white;
}



/* style 2 */

.teamy_style2 .teamy__content{
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.teamy_style3 .teamy__name{
    font-size: 2em;
    color: white;
}

/* mask circle */

.teamy_mask-circle .teamy__preview:before{
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;

    transition: transform .3s ease, opacity .3s ease-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.teamy_mask-circle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(4);
    transition-duration: .6s;
}

.teamy__preview:before{
    background-color: rgba(5, 160, 249, .7);
}


:root{
    --colorBlack: #222;
    --colorWhite: #fff;
    --colorGray: #f0f0f0;

    --colorAlternative: #a03549;
    --colorAlternativeDark: #650813;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
}

.page{
  min-height: 100vh;
}
/* layout */
.section:nth-of-type(even){
	background-color: var(--colorGray);
}

.section .teamy{
    --demoColorMask: rgba(80, 126, 209, .7);
    --demoColorContent: rgba(80, 126, 209, .85);
    --demoColorIcon: rgba(80, 126, 209, 1);
}

/* actions buttons */

.action{
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 10px;

    background-color: #fff;
    border-radius: 100%;

    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.actionsabsolute{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 30%
}


.action__icon{
    width: 100%;
    height: 100%;
    fill: rgba(72, 27, 174, 1);
    fill: var(--demoColorIcon, rgba(72, 27, 174, 1));  
}

.action__name{
    position: absolute;
    left: -9999px;
}

