
.cadre {
    position: relative;
    border: 3px solid #ddf0fb;
    overflow: hidden;
    margin-bottom: 3.75rem;
    padding: 2.5rem;
}

.cadre::before {
    top: -1.25rem;
    left: -1.25rem;
    position: absolute;
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ddf0fb;
    transform: rotate(45deg);
}

.cadre::after {
    position: absolute;
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ddf0fb;
    transform: rotate(45deg);
    bottom: -1.25rem;
    right: -1.25rem;
}


.logo {
    position: relative;
    color: rgb(5,160,249)!important;
    font-size: 16pt;
}

.logo::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: -6px;
    border-radius: 0;
    border: 2px solid #000;
    height: 29px;
    width: 65px;
}
.logo::after {
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    left: 20px;
    border-radius: 0;
    background-color: #000;
    border-left: 4px solid #ddf0fb;
    border-right: 4px solid #ddf0fb;
    border-top: 3px solid #000;
    border-bottom: 2px solid #000;
    height: 6px;
    width: 13px;
}

#logo_pointer {
    position: absolute;
    top: 26px;
    right: 10px;
    transform: scale(0.6);
}

.navbar {
    background: #ddf0fb !important;
    color: black;
    font-size: 13pt;
    font-weight: 700;
}

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

.center {
    /* text-align: center;
    margin: 100px auto; */
}

.center-content {
    text-align: center;
}

.saisie-age-enfant {
    width: 400px;
    margin-top: 21px;
    margin-bottom: 10px;
}

.saisie-age-enfant .col-md-6 {
    margin-bottom: 10px;
}

/*** buttons **************/

:root {
    -btn-primary: #4285f4;
    -btn-default: #2bbbad;
    -btn-secondary: #a6c;
    -btn-success: #00c851;
    -btn-info: #33b5e5;
    -btn-warning: #fb3;
    -btn-danger: #ff3547;
}


.null {
    margin: 0;
}

.btn-mdb {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-mdb:focus, .btn-mdb:hover {
    text-decoration: none;
}

.btn-mdb:active, .btn-mdb:focus, .btn-mdb:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    outline: 0;
}

.btn-mdb:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-primary {
    background-color: #4285f4!important;
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #0b51c5!important;
}


.btn-secondary {
    background-color: #a6c!important;
    color: #fff;
}

.btn-success {
    background-color: #00c851!important;
    color: #fff;
}

.btn-info {
    background-color: #33b5e5!important;
    color: #fff;
}

.btn-warning {
    background-color: #fb3!important;
    color: #fff;
}

.btn-danger {
    background-color: #ff3547!important;
    color: #fff;
}




  /*********** Conseil style
                            ******************/

.titre-conseil {
    font-weight: 400;
    margin-bottom: .5rem
}
.titre-conseil li::before {
    content: "— ";
    padding-right: .25rem;
    list-style: none;
}
.titre-conseil ul {
    list-style: none;
}

.titre-conseil a {
    color: #0056b3!important; 
}
.fiche-conseil a {
color: black; 
}

.no-list-style {
    list-style: none;
}
.fiche-conseil {
    font-size: 1.25rem;
    margin-bottom: .75rem;
    list-style: none;
}
    
.fiche-conseil::before {
    content: "— ";
    padding-right: .25rem;
}

.fiche-conseil p {
    display: inline;
}

.table-footer {
    height: 100px;
    margin-top: 30px;
}

.label-age {
    padding: 2px 0px;
    width: 50px;
    text-align: left;
}


.tooltip-inner {
    max-width: 500px;
    text-align: left;
    /* If max-width does not work, try using width instead */
    
}

.popover{
    max-width:600px;
}
